.note-container {
  display: flex;
  height: calc(100% - 100px);
  gap: 1rem;
}
.body-center {
  height: 100%;
}
.sidebar {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.note-filter {
  position: relative;
  display: flex;
  justify-content: center;
}
.note-wrapper {
  flex-grow: 1;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  position: relative;
}
.sidebar-icon {
  font-size: 1.8rem;
}
.sidebar-drawers {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0.5rem;
  border-radius: 10px;
  margin-top: 10px;
  transition: all 0.5s ease-in-out;
}
.sidebar-drawers:hover {
  background-color: #e4e2ff;
  cursor: pointer;
}
.sidebar-name {
  font-size: 1.5rem;
}
.sidebar-profile {
  display: flex;
  gap: 5px;
  align-items: center;
}
.category-filter {
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 1rem;
}
.category-button {
  padding: 10px;
  width: min-content;
  background-color: var(--lynx-grey);
  border-radius: 5px;
  cursor: pointer;
}
.sidebar .primary-btn {
  margin-top: 1.5rem;
}
@media screen and (max-width: 600px) {
  .sidebar {
    transform: translateX(-100vw);
    display: none;
    transition: all 0.5s ease-in-out;
  }
  .show {
    transform: translateX(0);
    position: fixed;
    display: flex;
    background-color: white;
    justify-content: space-between;
  }
}
