.editor-container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  flex-direction: column;
  gap: 4rem;
}
.quill {
  width: 75%;
  height: 50%;
}
.editor-heading {
  text-align: center;
}
.background-select,
.label-select {
  height: 2rem;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
}
.note-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 750px) {
  .editor-container {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .quill {
    width: 100%;
  }
}
