.note-card {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  color: var(--white-color);
}
.note-card-footer {
  display: flex;
  align-items: center;
}
.note-icons-container {
  font-size: 1.5rem;
  margin-left: auto;
  width: 50%;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
.note-icons {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.note-icons:hover {
  background-color: rgb(109, 109, 109, 0.5);
  border-radius: 50%;
}
.archive-icon {
  color: var(--primary-color);
}
.priority-label {
  background-color: rgb(109, 109, 109, 0.5);
  padding: 8px;
  border-radius: 5px;
  width: min-content;
}
